.row{
    margin-top: 10%;
    display: flex;

}

.presentation
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    padding: 20%;
    border-radius: 2rem;
    justify-content: center;
    border:2px solid black;
    background-color: #0cca9a;
}
p{
    margin: 10%;
}
