.row{
    /* min-height: 100vh; */
}
.col.sidebar{
    min-height: 100vh;
    padding-top: 1vh;
}
#searchbar{
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 2rem;
    text-align: center;
    border-width: 2px;
    border-color: black;
    margin: 0.5rem;
    width: 90%;
    height: 10%;
}
form>div{
    padding-bottom: 1rem;
}
.nav-wrapper{
    background-color: #3498db;
}
.sidebar{
    background-color: #2b323a;
}
.SubmitBtn{
    background-color: #3498db;
}
.SubmitBtn:hover{
    background-color: #1f5d81;
}
.dropdowncolor{
    background-color: #3498db;
}
.dropdowncolor>li:hover{
    background-color: #1f5d81;
}
gendersearchbar{
    display: flex;
    align-content: center;
    border-radius: 2rem;
    margin:0.5rem;
    background-color: white;
}
.validate{
    border-radius: 2rem;
    margin:0.5rem;
}