.bodycenter{
    background-color: #dadada;
}
.imgcontainer>.material-placeholder>.materialboxed{
    height: 15rem;
}
body>.row{
    display: flex;

}
.cardbody{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.card-title{
    flex-basis: 100%;
}
.cardbody>p{
    text-align: center;
    padding: 2rem;
    min-height: 15rem;
    flex-basis: 60%;
    background-color: #2b323a;
}

/* for the movie modals */
.modal.open{
    display: block;
}
.modal-content{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modal-content>h4 {
    flex-basis: 100%;
}
.modal-content>.modaltext{
    flex-basis: 70%;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
    text-align: center;
    justify-content: center;
}
.modal-content>p {
    flex-basis: 100%;
    min-height: 100%;
}
.modal-content>.material-placeholder{

    width: 30%;
}
.modal-content>.material-placeholder>.materialboxed{
    width: 100%;
}
.modal-footer>div{
    display: flex;
    flex-wrap: wrap;
}
.modalpannel{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-right: 2rem;
    margin-top: 4rem;
    margin-left: 2rem;
    width: 90%;
}
.descfooter>h5{
    flex-basis: 30%;
    text-align: center;
}
/*TODO Change that to put in column the data footer*/
.descfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}